:root { --white: #ffffff; --gray1: #eeeeee; --gray2: #bbbbbb; --gray3: #515151; --gray4: #313131; --gray5: #252525; --greish1: #3B3D40; --greish2: #0506077c; --greish3: rgba(0, 0, 0, 0.1); --purple1: #851685; --purple2: #500a50; }

.light { --textColorPrimary: var(--gray4); --textColorPrimaryActive: var(--purple2); --textColorSecondary: var(--gray3); --colorBackground: var(--gray1); --colorShadowUpperLeft: var(--white); --colorShadowLowerRight: var(--greish3); -webkit-transition: 0.3s; transition: 0.3s; }

.dark { --textColorPrimary: var(--white); --textColorPrimaryActive: var(--purple1); --textColorSecondary: var(--gray2); --colorBackground: var(--gray5); --colorShadowUpperLeft: var(--greish1); --colorShadowLowerRight: var(--greish2); -webkit-transition: 0.3s; transition: 0.3s; }

body { margin: 0; padding: 0; }

body::-webkit-scrollbar { width: 0.5rem; }

body::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2); box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2); }

body::-webkit-scrollbar-thumb { background-color: rgba(0, 0, 0, 0.1); border-radius: 0.5rem; }

#root { font-family: Montserrat; margin: 0; padding: 0; height: 200vh; width: 100%; color: var(--textColorPrimary); background-color: var(--colorBackground); background-image: url("../images/background.png"); background-size: cover; }

.active { color: var(--textColorPrimaryActive); font-weight: 800; }

.card { padding: 0; border-radius: 12px; overflow: hidden; }

.button-primary { padding: 0.5rem 2rem 0.5rem 2rem; background-color: var(--textColorPrimaryActive); border: none; border-radius: 0.3rem; color: var(--textColorPrimary); font-size: 1rem; -webkit-transition: all .1s linear 0s; transition: all .1s linear 0s; }

.button-primary:visited { outline: 0; }

.button-primary:hover { -webkit-filter: brightness(0.8); filter: brightness(0.8); }

.navbar { width: 100%; position: fixed; -webkit-transition: all .3s linear 0s; transition: all .3s linear 0s; }

.navbar-nav { list-style: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; margin: 0; padding: 1rem 3rem; }

.navbar-item { margin: 0rem 1rem; font-size: 20px; -webkit-transition: 0.3s; transition: 0.3s; -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; }

.navbar-item:last-child { margin-left: auto; }

.navbar-link { text-decoration: none; display: -webkit-box; display: -ms-flexbox; display: flex; }

.navbar-link:visited, .navbar-link:link { color: var(--textColorPrimary); }

.navbar-link:hover, .navbar-link:active { color: var(--textColorPrimaryActive); }

.navbar .logo { font-size: 1.5rem; font-weight: 800; }

.background { background-color: var(--colorBackground); }

.shadow { -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); }
