main {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 4fr;
    align-items: center;
    justify-items: center;

    .text-home {
        h1 {
            font-size: 2rem;
        }

        p {
            word-spacing: 0.2em;
            line-height: 1.7em;
            color: var(--textColorSecondary);
        }
    }

    .card {
        width: 100vw;
        height: 100vh;
        max-width: 400px;
        max-height: 400px;
    }
}

@media only screen and (max-width: 800px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;

        .text-home {
            margin-top: 6rem;
        }

        .card {
            max-width: 300px;
            max-height: 300px;
        }
    }
}